/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: beige;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav[style] {
  visibility: visible !important;
}
.mat-drawer {
  transform: none !important;
}

.mat-form-field {
  min-width: 300px;
}
.no-min-width {
  min-width: unset;
}


/**
 * Bootstrap files
 */

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/alert";


table {
  width: 100%;
}

fieldset
{
  border: lighten($dark, 80%) solid;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  margin-bottom: 16px;
}
legend h2 {
  padding-top: 16px;
}

.mat-dialog-title {
  margin-bottom: 0 !important;
  h1 {
    margin-bottom: 0;
  }
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
