$primary: #ca6d19;
$primary-lighter: #efd3ba;
$primary-darker: #b7500e;

$accent: #2b8b1d;
$accent-lighter: #bfdcbb;
$accent-darker: #1a6e11;

$warn: #a30606;
$warn-lighter: #e3b4b4;
$warn-darker: #880303;

$text-dark: #080808;
$text-light: #ffffff;
$bg-light: #fafafa;
$bg-dark: #2c2c2c;

$link-color: #6efaf5

